[Unit]
Description=Idmitra Attendance Client
After=network.target

[Service]
ExecStart=/home/abhitprints/code/rfid_client/rfid-env/bin/python /home/abhitprints/code/rfid-client/main.py
WorkingDirectory=/home/abhitprints/code/rfid-client
Restart=always
RestartSec=5
User=abhitprints

[Install]
WantedBy=multi-user.target